:root {
	--color-background: #202726;
	--color-background-input: #495856;
	--color-primary: #9FA9A9;
	--color-secondary: #69948B;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--color-background);
	color: var(--color-primary);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: var(--color-secondary);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}